<!DOCTYPE html>
<html>
  <head>
    <charset = "UTF-8">
    <title>HOME PAGE</title>
  </head>
  <body>
  {% extends 'simple_site/base.html' %}

  {% block content %}

    <h2>
      On this site you can write topics and told about it with another users.
    </h2>

    <h3>
      <a href="{% url 'simple_site:topics' %}">Here</a> we can talking on any
      themes
    </h3>

    <h2>
    Or use convertor .txt to .pdf below:
    </h2>

    <form action="{% url 'simple_site:converter' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="file" name="upload_file">
      <button type="submit">Convert to PDF</button>
    </form>

  {% endblock content %}
  </body>
</html>
