<!DOCTYPE html>
<html>
  <head>
    <meta charset 'UTF-8'>
    <title>TOPIC</title>
  </head>
  <body>

    {% extends 'simple_site/base.html' %}
    
    {% block content %}

      <h1>{{ topic }}</h1>

      <form action="{% url 'simple_site:topic' topic_id=topic.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button name='submit'>save comment</button>
      </form>

      <p>
      {% for comment in comments %}
        {% if comment.owner == request.user %}
          {{ comment.comment|linebreaks }}
          {{ comment.owner }}
          {{ comment.date|date:'H:i, M d' }}
          <a href="{% url 'simple_site:delete_comment' comment.id %}">delete comment</a>
          <a href="{% url 'simple_site:edit_comment' comment.id %}">edit comment</a>
        {% else %}
          {{ comment.comment|linebreaks }}
          {{ comment.owner }}
          {{ comment.date|date:'H:i, M d' }}
        {% endif %}
      {% empty %}
        No comments yet.
      {% endfor %}
      </p>

    {% endblock content %}
  </body
</html>
